@import url('https://cdn.discordapp.com/attachments/1105974521489535016/1210578079009874010/Galano_Grotesque_Black.otf?ex=65eb11b1&is=65d89cb1&hm=67795b29a98f0faeea18bb28a447a6f4f3bf72246d18694b5d9ea31bd5f8f31d&');
@import url('https://cdn.discordapp.com/attachments/1105974521489535016/1210585810865496124/Galano_Grotesque.otf?ex=65eb18e4&is=65d8a3e4&hm=608ebe3da061edc16965db1bb0b748c324e2aa545887d342422983938c4e3936&');
@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

.css-9jay18{
font-family: "Galano Grotesque", sans-serif !important;
width: 800px;
}

.css-ptoi3 {
    padding: 20px;
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important ;
    background-color: transparent !important;
    background-image: url(https://github.com/Astracelestia/Astracelestia.github.io/blob/main/kho%20petra/leaderboard_board.gif?raw=true);
    background-size: 825px 477px !important;
    background-repeat: no-repeat;
    margin: var(--chakra-space-5);
    text-align: center;
    height: 548px;
    width 550px;

}

body {
    font-family: "Galano Grotesque", sans-serif !important;
    font-size: 1em !important;
    color: var(--chakra-colors-gray-800);
    background-color: transparent !important;
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
}
