@font-face {
    font-family: '';
    src: url('RiiTegakiFude.woff2') format('woff2'),
        url('RiiTegakiFude.woff') format('woff'),
        url('RiiTegakiFude.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

